name: simple_note_app
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  # Icon mặc định
  cupertino_icons: ^1.0.8

  # --- CÁC THƯ VIỆN CẦN THIẾT CHO BÀI TẬP ---
  sqflite: ^2.3.0        # Cơ sở dữ liệu SQLite cục bộ
  path_provider: ^2.1.0  # Lấy đường dẫn thư mục trong máy
  provider: ^6.1.0       # Quản lý trạng thái (State Management)
  intl: ^0.18.0          # Định dạng ngày tháng (Date Formatting)

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true